body {
  background-color: #efe7df;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #ede0d4;
}

#experience {
  background-color: #ede0d4;
}

.card-title1 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.card-text1 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.link-company {
  text-decoration: none;
  color: white;
}

.link-company:hover {
  color: #b08968;
  transition: 0.3s;
}

#project {
  background-color: #efe7df;
}

#contact {
  background-color: #ede0d4;
}

section {
  padding-top: 5rem;
}

nav {
  background-color: #b08968;
}

footer {
  background-color: #b08968;
}

.btn {
  background-color: #b08968;
}
