html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  background-color: #ede0d4;
  display: flex;
  flex-direction: column;
}

/* navbar */
nav {
  width: 100%;
  display: flex;
  background-color: #ede0d4;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  color: #b08968;
  z-index: 9999;
  position: fixed;
}

nav img {
  position: relative;
  width: 150px;
  height: auto;
  left: -25px;
  top: 0;
  bottom: 0;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}

nav ul li a {
  color: #b08968;
  text-decoration: none;
  font-size: 1em;
}

nav ul li a:hover {
  color: #c6b6a6;
}

.container-satu {
  font-family: "Oswald", sans-serif;
  max-width: 1100px;
  background-color: #f5f6e9;
  margin: auto;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 3px 4px 8px rgba(176, 137, 104, 0.3);
  z-index: -2;
  margin-top: 140px;
  padding: 12px;
}

.kolom-satu {
  max-width: 750px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.Judul-1 {
  color: #b08968;
  font-size: 65px;
  font-weight: 800;
  margin-bottom: 10px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

strong {
  color: #c9a281;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.kolom-satu .desc-diri {
  margin-top: 15px;
  color: #b08968;
  max-width: 500px;
  font-size: 16px;
  font-weight: 600;
  text-align: end;
  line-height: 1.8;
}

.container-satu img {
  max-width: 300px;
  height: auto;
  position: relative;
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #f5f6e9;
  border-radius: 3px;
  transition: all 0.5s;
}

/* hamburger animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: #f5f6e9;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: #f5f6e9;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.container-dua {
  max-width: 1100px;
  margin: 50px auto;
  gap: 20px;
  display: flex;
  font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  perspective: 3000px;
}

.card-satu {
  width: 360px;
  height: 530px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px rgba(176, 137, 104, 0.3), -5px -5px 10px rgba(176, 137, 104, 0.3);
  border-radius: 15px;
}

.card-satu:hover {
  transform: rotateY(180deg);
}

.front-page,
.back-page {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
}

.front-page {
  background-image: url(../img/Project/4_kedua.png);
  background-size: cover;
}

.card-info {
  position: absolute;
  bottom: 50px;
  left: 100px;
  color: #ede0d4;
  text-shadow: 2px 2px 6px rgba(245, 246, 233, 0.8);
  text-align: center;
}

.card-title {
  font-style: 2rem;
  font-weight: bold;
}

.card-subtitle {
  font-size: 1.2rem;
  margin-top: 5px;
  color: #ede0d4;
}

.back-page {
  background-color: #1e272e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card-content {
  text-align: center;
  padding: 20px;
  max-width: 300px;
}

.card-content h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-desc {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 20px;
  line-height: 1.6;
}

.card-button {
  background-color: #b08968;
  color: #ede0d4;
  padding: 17px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-button:hover {
  background-color: transparent;
  color: #ede0d4;
  border: 1px solid;
}

.wrapper-dua {
  perspective: 3000px;
}

.card-dua {
  width: 360px;
  height: 530px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px rgba(176, 137, 104, 0.3), -5px -5px 10px rgba(176, 137, 104, 0.3);
  border-radius: 15px;
}

.card-dua:hover {
  transform: rotateY(180deg);
}

.front-page2,
.back-page2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
}

.front-page2 {
  background-image: url(../img/_DSC0056.jpg);
  background-size: cover;
}

.card-info2 {
  position: absolute;
  bottom: 50px;
  left: 100px;
  color: #ede0d4;
  text-shadow: 2px 2px 6px rgba(245, 246, 233, 0.8);
  text-align: center;
}

.card-title2 {
  font-style: 2rem;
  font-weight: bold;
}

.card-subtitle2 {
  font-size: 1.2rem;
  margin-top: 5px;
  color: #ede0d4;
}

.back-page2 {
  background-color: #1e272e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card-content2 {
  text-align: center;
  padding: 20px;
  max-width: 300px;
}

.card-content2 h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-desc2 {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 20px;
  line-height: 1.6;
}

.card-button {
  background-color: #b08968;
  color: #ede0d4;
  padding: 17px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-button:hover {
  background-color: transparent;
  color: #ede0d4;
  border: 1px solid;
}

.wrapper-tiga {
  perspective: 3000px;
}

.card-tiga {
  width: 360px;
  height: 530px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px rgba(176, 137, 104, 0.3), -5px -5px 10px rgba(176, 137, 104, 0.3);
  border-radius: 15px;
}

.card-tiga:hover {
  transform: rotateY(180deg);
}

.front-page3,
.back-page3 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
}

.front-page3 {
  background-image: url(../img/Project/2.1.jpg);
  background-size: cover;
}

.card-info3 {
  position: absolute;
  bottom: 50px;
  left: 70px;
  color: #ede0d4;
  text-shadow: 2px 2px 6px rgba(245, 246, 233, 0.8);
  text-align: center;
}

.card-title3 {
  font-style: 2rem;
  font-weight: bold;
}

.card-subtitle3 {
  font-size: 1.2rem;
  margin-top: 5px;
  color: #ede0d4;
}

.back-page3 {
  background-color: #1e272e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card-content3 {
  text-align: center;
  padding: 20px;
  max-width: 300px;
}

.card-content3 h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-desc3 {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 20px;
  line-height: 1.6;
}

.card-price {
  margin-top: 8px;
  font-weight: bold;
}

.card-button {
  background-color: #b08968;
  color: #ede0d4;
  padding: 17px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-button:hover {
  background-color: transparent;
  color: #ede0d4;
  border: 1px solid;
}

.container-tiga {
  max-width: 1100px;
  display: flex;
  margin: 50px auto;
}

.container-tiga img {
  width: 500px;
  height: auto;
  border-radius: 10px;
}

.container-tiga .logo-pkl {
  width: 250px;
  height: auto;
  margin-top: 20px;
}

.desc-pkl {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 25px;
  margin-left: 50px;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
}

.Judul-dua {
  max-width: 550px;
  margin-bottom: 15px;
  font-size: 65px;
  font-weight: 800;
  color: #b08968;
}

.desc-content {
  max-width: 650px;
  color: #b08968;
  line-height: 1.8;
}

.container-empat {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.container-empat img {
  width: 250px;
  height: auto;
  margin: auto;
  align-items: center;
}

.carousel {
  display: flex;
  height: 20rem;
  gap: 1rem;
  justify-content: center;
  margin-top: 30px;
}

.carousel > div {
  flex: 1;
  border-radius: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.carousel > div:hover {
  flex: 5;
}

.carousel-1 {
  background-image: url(../img/Project/1.jpg);
}

.carousel-2 {
  background-image: url(../img/Project/2.1.jpg);
}

.carousel-3 {
  background-image: url(../img/Project/3.jpg);
}

.carousel-4 {
  background-image: url(../img/Project/Main\ Poster@2x.jpg);
}

.carousel-5 {
  background-image: url(../img/Project/Main\ Event\ Poster.jpg);
}

.container-lima {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  color: #b08968;
  font-size: 40px;
  margin-bottom: 8px;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #b08968;
  border: 10px;
  margin-bottom: 20px;
}

.contact-input {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  color: #000;
  border-radius: 50px;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-input:focus {
  border: 2px solid #b08968;
}

.contact-input::placeholder {
  color: #ccc;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 60px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #bc6c25, #dda15e);
  cursor: pointer;
}

/* responsive breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  html,
  body {
    overflow-x: hidden;
    max-width: 100%;
  }

  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #e6ccb2;
    box-shadow: 0 20px 40px rgba(176, 137, 104, 0.5);
    z-index: 1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }

  .container-satu {
    flex-direction: column-reverse;
    align-items: center;
  }

  .kolom-satu .desc-diri {
    width: 350px;
    text-align: center;
    margin-bottom: 35px;
  }

  .Judul-1 {
    text-align: center;
  }

  .container-dua {
    flex-direction: column;
    overflow: hidden;
    align-items: center;
  }

  .container-tiga {
    flex-direction: column;
    align-items: center;
  }

  .container-tiga img {
    max-width: 380px;
  }

  .Judul-dua {
    text-align: center;
    padding-right: 35px;
  }

  .desc-content {
    text-align: justify;
    padding-right: 35px;
  }

  .contact-input {
    width: 80vw;
  }
}
